* ::before, ::after {
    box-sizing: border-box;
}

#page-title,
.center {
    text-align: center;
}

.container {
    margin-left: 20px;
}

.links {
    color: black;
    border: 2px dotted black;
    padding: 5px;
    text-decoration: none;
}

.links:hover {
    background-color: blue;
    color:white;
}

#recipe-title, #page-title {
    font-family: Verdana, Tahoma, sans-serif;
}

.recipelist {
    padding-left: 40px;
}

.recipedescription {
    padding-right: 750px;
}

#recipes {
    display: inline-block;
    font-size: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 100px;
}